.page{
    height: 100vh;
    width: 100vw;
}

#appName{
    text-decoration: solid;
    font-size: 3rem;
    font-family: sans-serif;
}
#appName:hover{
    color: rgb(60, 137, 209);
}

#AppImages{
    background-color: black;
    height: 90vh;
}

.carousel-item{
    height: 80%;
    width: 60%;
    justify-content: center;
    align-items: center;
    justify-items: center;
    transform: translateX(28%) translateY(8%);
}

.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#about h2{
    font-size: 4rem;
} 

#about p{
    font-size: large;
    font-family:sans-serif;
    width: 80%;
    line-height: 2;
}

#line{
    height: 3px;
    width: 350px;
    background-color: rgb(77, 81, 85);
}
#cont{
    background-color: black;
}

#contact {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#abo{
    background-color: rgb(232, 238, 220);
}


